/*
Theme Name: Openweb Theme
Theme URI: http://webpublicas.bbva.com
Author: OpenWeb Team. (@OpenWebTeam)
Description: Tema para Wordpress basado en la inicitiva Coronita del equipo UX BBVA.
Version: 1.6.3
*/
/*
Definicion de los colores de las categorias para la clase .bullet
ejemplos:
*/
.bbva-cards .article-category.h6.bullet.categoria-1:before,
.item-category.categoria-1:before {
    color: #da3851;
}

.bbva-cards .article-category.h6.bullet.antiquarianism:before,
.item-category.cat-c:before {
    color: #f7893b;
}

.bbva-cards .article-category.h6.bullet.categoria-2:before,
.bbva-cards .article-category.h6.bullet.categoria-4:before,
.bbva-cards .article-category.h6.bullet.categoria-5:before,
.item-category.categoria-2:before,
.item-category.categoria-4:before,
.item-category.categoria-5:before {
    color: #f8cd51;
}

.bbva-cards .article-category.h6.bullet.categoria-6:before {
    color: #48ae64;
}

.bbva-cards .article-category.h6.bullet.categoria-7:before,
.bbva-cards .article-category.h6.bullet.categoria-8:before,
.bbva-cards .article-category.h6.bullet.categoria-9:before {
    color: #5bbeff;
}

.bbva-cards .article-category.h6.bullet.categoria10:before {
    color: #8f7ae5;
}

.bg-bbva {
    background: #004481 !important;
}

/* Custom Containers */

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid .bg-white {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
    margin-bottom: 0 !important;
}

section.container-fluid {
    padding-top: 0 !important;

}

body>header.container-fluid nav.navbar .navbar-header {
    float: none;
    padding-top: 0 !important;
}


.row.menu_rapido {
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Custom Containers */

/* Banner home */
.bg-bbva-container {
    background-image: url('./img/background-bbva.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #034a88 !important; */
}


.home {
    background: #f4f4f4 !important;
}

.secondary-nav {
    display: none;
}

/* Banner */
.hero-banner {
    background-image: url(./img/image-banner-hipotecario.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.custom-title {
    position: relative;
    top: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 48px;
}

/* Banner */


/* Custom Cards */
.card-img-bottom {
    height: 32rem;
    background-size: cover;
}

.card-img-left {
    position: absolute;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 40%;
}

.bg-one,
.bg-two,
.bg-three,
.bg-four,
.bg-five,
.bg-six {
    height: 341px;
    max-height: 341px;
}

.bg-one {
    background: #072146;
}

.bg-two {
    background: #043263;
}

.bg-three {
    background: #1464A5;
}

.bg-four {
    background: #1973B8;
}

.bg-five {
    background: #49A5E6;
}

.bg-six {
    background: #02A5A5;
}

.img-procesos {
    width: 160px;
    height: 160px;
}

.card-title-process,
.title-cards-colors {
    color: #fff !important;
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 8px !important;
}

.text-card-process {
    position: relative;
    margin-top: 100px;
}

.title-process {
    color: #fff !important;
    font-size: 36px;
    letter-spacing: -1.2px !important;
}

.col-md-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-primary {
    background: #072146 !important;
}

.card-secundary {
    background: #004481 !important;
}

.card-hero-home {
    background-color: #fff;
}

.card-hero-home .text-hero-banner {
    font-size: 24px;
    line-height: 24px;
}

.card-hero-home .text-medium {
    font-weight: 600;
}

.card-text-procesos {
    padding: 28px;
    max-height: 220px;
    height: 220px;
}

.card-text {
    padding: 28px;
}

.bbva-cards .card-block [class*="col"] {
    justify-content: center !important;
}

.card-text-noticias {
    padding: 16px;
    background: #fff;
    box-shadow: 0 1px 1px 0 #d3d3d3;
    width: 260px;
    height: 242px;
}

/** cards con ilustraciones index**/
.svg {
    float: right;
}

.text-card {
    float: left;
    padding-block-end: inherit;
    text-align: left;
}

/* Custom Cards */


/* Page Productos */
.card-text-products {
    padding: 8px;
    background: #fff;
    height: auto;
    box-shadow: 0 1px 1px 0 #d3d3d3;
}

.card-text-products p {
    font-size: 15px;
}

.container-flex {
    display: grid;
    justify-content: center;
    height: auto;
}

.second-row {
    margin-top: 40px;
}

/* Page Productos */
.text-white {
    color: #fff !important;
}

.custom-text {
    position: relative;
    top: 49.04%;
}

.hero-button {
    position: absolute;
    left: 0px;
}

.hero-button .btn {
    margin: 0 !important;
}

.bbva-coronita_graphics,
.bbva-coronita_id,
.bbva-coronita_rewards,
.bbva-coronita_document {
    color: #1873b8 !important;
    font-size: 26px;
    padding: 16px;
}

.bbva-coronita_home {
    font-size: 18px;
    color: #1873b8 !important;
    padding-bottom: 8px;
}

.div-svg {
    padding: 14px;
    font-size: 16px;
}

.disclosure {
    font-size: 15px !important;
    line-height: 20px !important;
}

.back-white {
    background-color: #fff !important;
}

body>header.container-fluid .main-nav ul li a:hover {
    color: #fff !important;
}

body>header.container-fluid .main-nav ul li a:active {
    color: #fff !important;
    text-decoration: none;
    border-bottom: 4px solid #fff;
}

.cards-image {
    height: 280px !important;
    max-height: 323px;
    display: block;
    margin: 0 auto;
}

.bbva-coronita_add {
    color: #1D73B2;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    width: 32%;
    display: block;
    margin: 0 auto;
}


.card-text-sec-noticias {
    padding: 8px;
    padding-bottom: 32px;
    height: 240px;
    max-height: 245px;
    background: #F4F4F4;
    box-shadow: 0 1px 1px 0 #d3d3d3;
}

.col-md-4 {
    padding-bottom: 48px;
}

.col-sm-4 {
    padding-bottom: 32px;
}

.card-text .disclosure {
    padding-top: 16px
}

.cards-image-noticias img {
    width: 360px;
    height: 223px;
}

.cards-image-comunicados {
    width: 360px;
    height: 223px;
}

.card-text-noticias .faux-link {
    bottom: 30px;
    color: #1973b8;
    display: block;
    margin-bottom: 0;
    position: absolute;
}

.card-text-noticias .h5 {
    font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.card-text-noticias .disclosure {
    padding-top: 8px;
}

.loadmore {
    font-size: 14px;
    font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bbva-coronita_add:before {
    position: relative;
    top: 4px;
}

@media (min-width: 768px) {
    .col-sm-2 {
        width: 15.666667% !important;
    }
}

/*  =====  RESPONSIVE - 1440px > 1280px - Window XLARGE =====  */

@media screen and (max-width:1440px) and (min-width:1280px) {}

/*  =====  RESPONSIVE - 1279px > 769px - Window LARGE =====  */

@media screen and (max-width:1279px) and (min-width:769px) {
    .card-text-noticias {
        width: 100%;
    }

    body>header.container-fluid ul li {
        padding-left: 1.5em;
    }

    .header-text {
        top: 16%;
    }

    .card-text-sec-noticias h4 {
        font-size: 20px;
    }

    .card-text-sec-noticias p {
        font-size: 14px;
    }

    .card-text {
        padding: 8px;
    }

    .bbva-coronita_home {
        display: none;
    }

    header .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggle {
        display: block !important;
    }

    .aqua {
        color: #0fb1b2;
        margin: 32px 98px 32px;
        text-align: center;
    }

    .btn-tam {
        width: 48% !important;
    }
}

/*  =====  RESPONSIVE - 768px > 600px - Window MEDIUM =====  */

@media screen and (max-width:768px) and (min-width:600px) {
    .card-text {
        padding: 8px;
    }

    .card-text-noticias {
        width: 100%;
    }

    .cards-image {
        height: 220px !important;
    }

    #card_1,
    #card_2,
    #card_3,
    #card_4,
    #card_5,
    #card_6 {
        height: 220px !important;
    }

    header .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggle {
        display: block !important;
    }

    .carousel-inner>.item {
        height: 300px;
    }

    .carousel-inner>.item>img {
        height: 300px !important;
    }

    .header-text {
        left: 39px;
        top: 29%;
    }

    .card-hero-home .text-hero-banner {
        font-size: 18px;
    }

    .card-hero-home .disclosure {
        font-size: 14px !important;
    }

    .card-text .disclosure {
        padding-top: 0px !important;
    }

    .carousel-control {
        width: 11% !important;
    }

    .aqua {
        color: #0fb1b2;
        margin: 32px 98px 32px;
        text-align: center;
    }

    .btn-tam {
        width: 48% !important;
    }
}


/*  =====  RESPONSIVE - 599px > 360px - Mobile BIG =====  */

@media screen and (max-width:599px) and (min-width:360px) {
    .text-card {
        float: none !important;
        position: relative;
        top: 1.5em;
    }

    .card-img-bottom {
        height: 43rem;
        width: 100%;
    }

    .row {
        display: block !important;
    }

    .card-text-noticias {
        width: 100%;
    }

    .col-sm-4 {
        padding: 16px;
    }

    .cards-image-noticias {
        width: 100% !important;
    }

    .cards-image-comunicados {
        width: 100% !important;
    }

    .card-text {
        padding: 8px;
    }

    .svg {
        width: 100%;
    }

    .img-procesos {
        float: right;
    }

    .item.active {
        min-height: 300px !important;
    }

    .carousel-inner>.item>img {
        height: 151px !important;
    }

    .carousel {
        box-shadow: 0 1px 1px 0 #d3d3d3;
    }

    .item>.header-text {
        left: 21px;
        width: 100% !important;
        top: 2%;
        position: static;
    }

    .card-hero-home .text-hero-banner {
        font-size: 18px;
    }

    .card-hero-home .disclosure {
        font-size: 14px !important;
    }

    .card-text .disclosure {
        padding-top: 0px !important;
    }

    .carousel-control {
        width: 11% !important;
        opacity: 0.2 !important;
    }

    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six {
        margin-left: 16px;
        margin-right: 16px;
    }

    .aqua {
        color: #0fb1b2;
        margin: 32px 98px 32px;
        text-align: center;
    }

    .btn-tam {
        width: 48% !important;
    }
}

/*  =====  RESPONSIVE - 359px > 300px - Mobile SMALL =====  */

@media screen and (max-width:359px) and (min-width:300px) {
    .text-card {
        float: none !important;
        position: relative;
        top: 1.5em;
    }

    .card-img-bottom {
        height: auto;
        width: 100%;
    }

    .row {
        display: block !important;
    }

    .card-text-noticias {
        width: 100%;
    }

    .col-sm-4 {
        padding: 16px;
    }

    .cards-image-noticias {
        width: 100% !important;
    }

    .cards-image-comunicados {
        width: 100% !important;
    }

    .bbva-coronita_add {
        width: 50%;
    }

    .card-text {
        padding: 8px;
    }

    .svg {
        width: 100%;
    }

    .img-procesos {
        float: right;
    }

    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six {
        margin-left: 16px;
        margin-right: 16px;
    }

    .aqua {
        color: #0fb1b2;
        margin: 32px 98px 32px;
        text-align: center;
    }

    .btn-tam {
        width: 48% !important;
    }

}


/* inicia style de estructura*/
.margin {
    margin: 0 0 0 !important;
}


.modal-content {
    position: absolute;
    padding: 3em;
}

h5 {
    margin: auto !important;
}

.icon-cargo {
    margin-right: 0.5em;
}

.image {
    display: block;
    width: auto;
    max-height: 100%
}

.pointer {
    cursor: pointer;
}

.btn-modal {
    float: right;
    margin: 0 0 !important;
}

.footer-full h4 {
    font-size: 18px !important;
}

/* fin style de estructura*/



/*ajuste del logo*/

body>header.container-fluid #logo img,
body>header.container-fluid #logo-mobile img {
    width: 173px !important;
    height: 44px !important;
    left: 118px !important;
    top: 28px !important;
}


body>header.container-fluid .main-nav ul {
    margin-left: 216px !important;
}

body > header.container-fluid .main-nav ul:last-child{

    top: 10px !important;
    right: 0 !important;


}

.search-close{
padding: 2rem 0 !important;

}