.openweb-accordion-container {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
}

.accordion-section .openweb-tabs ul {
    margin-top: 12px;
    margin-bottom: 5px;
}
.openweb-tabs div.ui-tabs-panel {
    min-height: 42px;
    max-height: 200px;
    overflow: auto;
    padding: 0 .9em;
    border: 1px solid #ddd;
    background-color: #fdfdfd;
}
#image-page-author-preview {
    display: block;
    height: auto;
    width: 300px;
    margin-bottom: 5px;
}
.openweb-mandatory:before {
    content: ' * ';
}
.openweb-mandatory {
    color: #ff0000;
}
.openweb-error {
    border: 1px solid #ff0000 !important;
}

#openweb-spinner {
    background: url(/wp-includes/images/spinner.gif) no-repeat;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    display: inline-block;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
    vertical-align: middle;
}
.openweb-total-regenerate {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
