/*
Theme Name: Tema de desarrollo
Author: Joshua Peña
Description: Plantilla desarrollada como parte del tutorial de
"Como crear una plantilla de Wordpress desde cero".
Version: 1.0
*/

body {
    background-color: #fff !important;
    color: #000000 !important;
}

.bg-bbva {
    background-color: #072146;
}

.current-menu-item {
    border-bottom: 3px solid #fff;
}

.bg-card-ligth {
    background-color: #f4f4f4 !important;
}

.title-links {
    color: #121212 !important;
    font-family: "BentonSansBBVA-Light", Helvetica, Arial, sans-serif !important;
    font-weight: 100;
}

.card .card-text a {
    color: #1d73b2 !important;
}

.card .card-text a:hover {
    text-decoration: none !important;
    color: #557ba5 !important;
}

.container.more-view {
    text-align: center !important;
}

.container-fluid {
    padding: 0 !important;
}

.contenedor-noticias {
    display: flex;
    justify-content: center
}

.contenedor-noticias h1 {
    font-weight: bold;
    top: 30% !important;
}



/* Cards Documentos descargables */

.card {
    background-color: #f4f4f4 !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
}

.title-docs {
    font-weight: 100 !important;
    font-family: "BentonSansBBVA-Light", Helvetica, Arial, sans-serif !important;
}

/*css doc-page*/

.card-doc {
    background-color: #ffffff !important;
}

.container h3 {
    font-weight: 100 !important;
    font-family: "BentonSansBBVA-Light",Helvetica,Arial,sans-serif;
}

.card-text {
    color: #626262;
    font-size: 15px;
    line-height: 24px;

}

.page-template-page-documentos {
    background-color: #f4f4f4 !important;

}

.title-documents, .my-5{
    margin-bottom: 0px !important;
}

.content-text {
    position: relative;
    top: 36px;
}

.the-excerpt {
    font-weight: 100;
    color: #626262 !important;
    font-family: "BentonSansBBVA-Book",Helvetica,Arial,sans-serif;
}